#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
}


.card-container {
  border-radius: 30px !important;
}


.image-container {
  border-radius: 24px !important;
  overflow: hidden !important; 
  mask-image: -webkit-radial-gradient(white, black); 
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  transform: translateZ(0); 
}


img {
  display: block;
  width: 100%;
  height: 100%;
  user-select: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}