
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}


body {
  margin: 0;
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


img {
  max-width: 100%;
  height: auto;
  user-select: none;
}


button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}