#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  display: block; /* Поменял с flex-start для лучшей верстки */
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Фикс для картинок, чтобы они не игнорировали скругления контейнера */
.rounded-\[24px\], .rounded-\[28px\], .rounded-\[32px\] {
  mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Это заставляет картинку заполнить весь блок */
  user-select: none;
  border-radius: 30px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}